@import "tailwindcss";

@theme {
  --color-primary: #51ab91;
  --color-darkbg: #212121;
  --color-neonblue: #51ab91;
  --color-rightgreen: #30a838;
  --color-darkblue: #1e2939;
  --color-darkgray: #2b2b2b;
}
